<!DOCTYPE html>
<html>
<head>
    <!-- <title>navbar example</title> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">   
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    
                    <!-- First dropdown menu here-->
                    <li class="dropdown">
                        <p class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Location<span class="caret"></span></p>
                        <ul class="dropdown-menu">
                            <li><p>Carousel</p></li>
                            <li><p>Forms</p></li>
                            <li role="separator" class="divider"></li>
                            <li><p>Select</p></li>
                        </ul>
                    </li>
                    <!-- Dropdown ending here-->
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="Find Pictures by Category">
                    </div>
                    <button type="submit" class="btn btn-info">Go</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</body>
</html>
